manifest {
    name = 'virpipa'
    description = 'HCV probe-capture assembly pipeline'
    mainScript = 'main.nf'
    version = '0.2.0'
}

params {
    input = null
    outdir = "${projectDir}/results"

    scripts_dir = "${projectDir}/scripts"
    ref_dir = "${projectDir}/refgenomes"
    assets_dir = "${projectDir}/assets"
    container_dir = null
    bind_paths = '/fs1,/fs2,/local'
    hostile_cache_dir = null

    remove_human = true
    subsample_reads = 1000000
    use_sentieon = true

    cpus = 16
    memory = '32 GB'
    time = '24h'

    partition = null
    run_name = null
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        if (params.partition) {
            process.queue = params.partition
        }
    }

    local {
        params.container_dir = "${projectDir}/assets/containers"
        params.bind_paths = '/home,/tmp'
    }

    hpc {
        params.container_dir = '/fs1/resources/containers'
        params.bind_paths = '/fs1,/fs2,/local'
    }

    apptainer {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/.singularity"
    }

    test {
        params.input = "${projectDir}/assets/test_samplesheet.csv"
        params.outdir = "${projectDir}/results_test"
    }
}

includeConfig 'conf/base.config'
