manifest {
    name = 'virpipa'
    description = 'HCV probe-capture assembly pipeline (nf-core style scaffold)'
    mainScript = 'main.nf'
    version = '0.1.0'
}

params {
    input = null
    outdir = "${projectDir}/results"

    scripts_dir = "${projectDir}/scripts"
    ref_dir = "${projectDir}/refgenomes"

    container_dir = null
    bind_paths = '/fs1,/fs2,/local'
    hostile_cache_dir = null

    remove_human = true
    subsample_reads = 1000000

    cpus = 16
    memory = '32 GB'
    time = '24h'

    partition = null
    run_name = null
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        if (params.partition) {
            process.queue = params.partition
        }
    }

    apptainer {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/.singularity"
    }

    test {
        params.input = "${projectDir}/assets/samplesheet.csv"
        params.outdir = "${projectDir}/results_test"
    }
}

includeConfig 'conf/base.config'
