manifest {
    name = 'virpipa'
    description = 'HCV probe-capture assembly pipeline'
    mainScript = 'main.nf'
    version = '0.2.0'
}

params {
    input = null
    outdir = "results"

    scripts_dir = "scripts"
    ref_dir = "refgenomes"
    assets_dir = "assets"
    container_dir = null
    bind_paths = '/fs1,/fs2,/local'
    hostile_cache_dir = null

    remove_human = true
    subsample_reads = null
    use_sentieon = true
    genome = null
    maxpolish = 10
    
    blast_db = null
    vadr_model = 'vadr-models-flavi'
    vadr_model_dir = null
    vadr_container = null
    resistance_rules = null

    cpus = 16
    memory = '32 GB'
    time = '24h'

    partition = null
    run_name = null
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        if (params.partition) {
            process.queue = params.partition
        }
    }

    local {
        params.bind_paths = '/mnt,/home,/tmp'
        params.container_dir = null
        params.hostile_cache_dir = '/home/jonas/resources/hostile'
        params.vadr_model_dir = '/home/jonas/resources/vadr/vadr-models-flavi'
        process.memory = '8 GB'
        process.cpus = 8
        process.'process_high'.cpus = 8
        process.'process_high'.memory = '16 GB'
        process {
            withName: REMOVE_HOSTILE {
                cpus = 4
                memory = '10 GB'
                time = '1h'
            }
            withName: SUBSAMPLE_READS {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: BAM2FASTA {
                cpus = 2
                memory = '4 GB'
                time = '30m'
            }
            withName: ASSEMBLE_SPADES {
                cpus = 8
                memory = '15 GB'
                time = '8h'
            }
            withName: ASSEMBLE_HYBRID {
                cpus = 8
                memory = '15 GB'
                time = '4h'
            }
            withName: MAP_READS {
                cpus = 4
                memory = '8 GB'
                time = '1h'
            }
            withName: MAP_READS_NOOPT {
                cpus = 4
                memory = '8 GB'
                time = '1h'
            }
            withName: POLISH_PILON_LOOP {
                cpus = 4
                memory = '10 GB'
                time = '2h'
            }
            withName: CREATE_CONSENSUS {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: FILTER_VCF {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: VARIANT_CALLING {
                cpus = 2
                memory = '4 GB'
                time = '30m'
            }
            withName: CREATE_CRAM {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: SUBTYPE_BLAST {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: CREATE_REPORT {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: ANNOTATE_VADR {
                cpus = 2
                memory = '8 GB'
                time = '1h'
            }
        }
        params.scripts_dir = "${projectDir}/scripts"
    }

    local_containers {
        params.bind_paths = '/mnt,/home,/tmp'
        params.container_dir = "${projectDir}/assets/containers"
        params.hostile_cache_dir = '/home/jonas/resources/hostile'
        params.vadr_model_dir = '/home/jonas/resources/vadr/vadr-models-flavi'
        process.memory = '8 GB'
        process.cpus = 8
        process {
            withName: REMOVE_HOSTILE {
                cpus = 4
                memory = '10 GB'
                time = '1h'
            }
            withName: SUBSAMPLE_READS {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: BAM2FASTA {
                cpus = 2
                memory = '4 GB'
                time = '30m'
            }
            withName: ASSEMBLE_SPADES {
                cpus = 8
                memory = '15 GB'
                time = '8h'
            }
            withName: ASSEMBLE_HYBRID {
                cpus = 8
                memory = '15 GB'
                time = '4h'
            }
            withName: MAP_READS {
                cpus = 4
                memory = '8 GB'
                time = '1h'
            }
            withName: MAP_READS_NOOPT {
                cpus = 4
                memory = '8 GB'
                time = '1h'
            }
            withName: POLISH_PILON_LOOP {
                cpus = 4
                memory = '10 GB'
                time = '2h'
            }
            withName: CREATE_CONSENSUS {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: FILTER_VCF {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: VARIANT_CALLING {
                cpus = 2
                memory = '4 GB'
                time = '30m'
            }
            withName: CREATE_CRAM {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: SUBTYPE_BLAST {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: CREATE_REPORT {
                cpus = 2
                memory = '2 GB'
                time = '30m'
            }
            withName: ANNOTATE_VADR {
                cpus = 2
                memory = '8 GB'
                time = '1h'
            }
        }
        params.scripts_dir = "${projectDir}/scripts"
    }

    tiny {
        params.input = "${projectDir}/assets/tiny_samplesheet.csv"
        params.outdir = "${projectDir}/results_tiny"
    }

    hpc {
        params.container_dir = '/fs1/resources/containers'
        params.bind_paths = '/fs1,/fs2,/local'
        params.hostile_cache_dir = '/fs1/resources/ref/micro/hostile'
        params.vadr_model_dir = '/fs1/resources/ref/micro/vadr/vadr-models-flavi'
        params.scripts_dir = '/fs1/jonas/src/virpipa/scripts'
    }

    apptainer {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/.singularity"
    }

    test {
        params.input = "${projectDir}/assets/test_samplesheet.csv"
        params.outdir = "${projectDir}/results_test"
    }
}

includeConfig 'conf/base.config'
