process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: process_high {
        cpus = 16
        memory = '32 GB'
        time = '24h'
    }
}

timeline {
    enabled = params.pipeline_info instanceof Boolean ? params.pipeline_info : params.pipeline_info?.toString()?.toBoolean()
    overwrite = true
    file = params.run_name ? "${params.outdir}/${params.run_name}/pipeline_info/timeline.html" : "${params.outdir}/pipeline_info_${new Date().format('yyyyMMdd_HHmmss')}/timeline.html"
}

report {
    enabled = params.pipeline_info instanceof Boolean ? params.pipeline_info : params.pipeline_info?.toString()?.toBoolean()
    overwrite = true
    file = params.run_name ? "${params.outdir}/${params.run_name}/pipeline_info/report.html" : "${params.outdir}/pipeline_info_${new Date().format('yyyyMMdd_HHmmss')}/report.html"
}

trace {
    enabled = params.pipeline_info instanceof Boolean ? params.pipeline_info : params.pipeline_info?.toString()?.toBoolean()
    overwrite = true
    file = params.run_name ? "${params.outdir}/${params.run_name}/pipeline_info/trace.txt" : "${params.outdir}/pipeline_info_${new Date().format('yyyyMMdd_HHmmss')}/trace.txt"
}

dag {
    enabled = (params.pipeline_info instanceof Boolean ? params.pipeline_info : params.pipeline_info?.toString()?.toBoolean()) && (params.pipeline_info_dag instanceof Boolean ? params.pipeline_info_dag : params.pipeline_info_dag?.toString()?.toBoolean())
    overwrite = true
    file = params.run_name ? "${params.outdir}/${params.run_name}/pipeline_info/dag.svg" : "${params.outdir}/pipeline_info_${new Date().format('yyyyMMdd_HHmmss')}/dag.svg"
}
