def pipeline_info_run_dir = params.run_name
    ? "${params.outdir}/${params.run_name}/pipeline_info"
    : "${params.outdir}/pipeline_info_${new Date().format('yyyyMMdd_HHmmss')}"

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: process_high {
        cpus = 16
        memory = '32 GB'
        time = '24h'
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${pipeline_info_run_dir}/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${pipeline_info_run_dir}/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${pipeline_info_run_dir}/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${pipeline_info_run_dir}/dag.svg"
}
