process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'
    maxRetries = 1

    withLabel: process_high {
        cpus = 16
        memory = '32 GB'
        time = '24h'
    }
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/dag.svg"
}
